.App {
  text-align: center;
}

.chat-app {
  width: 375px;
  margin: auto;
}

.chat-app header {
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  position: relative;
  color: white;
  background-color: #3C3D4C;
  outline: none;
}

.chat-app a {
  text-decoration: none;
  color: black;
  outline: none;
}

.chat-app a:hover, .chat-app a:active {
  text-decoration: none;
}
